In [1]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /opt/mamba/lib/python3.10/site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /opt/mamba/lib/python3.10/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/mamba/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/mamba/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/mamba/lib/python3.10/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /opt/mamba/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
!pip install requests

Requirement already satisfied: requests in /opt/mamba/lib/python3.10/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/mamba/lib/python3.10/site-packages (from requests) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/mamba/lib/python3.10/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/mamba/lib/python3.10/site-packages (from requests) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /opt/mamba/lib/python3.10/site-packages (from requests) (2023.11.17)

In [3]:
import requests

#téléchargement des données 

def download_file(url, local_filename):
    with requests.get(url, stream=True) as r:
        r.raise_for_status()
        with open(local_filename, 'wb') as f:
            for chunk in r.iter_content(chunk_size=8192): 
                f.write(chunk)
    return local_filename

download_file('https://datasets.imdbws.com/title.ratings.tsv.gz', 'title.ratings.tsv.gz')
download_file('https://datasets.imdbws.com/title.basics.tsv.gz', 'title.basics.tsv.gz')
download_file('https://datasets.imdbws.com/title.principals.tsv.gz', 'title.principals.tsv.gz')

'title.principals.tsv.gz'

In [5]:
import pandas as pd
#Types que nous allons attribuer aux colonnes de ratings
ratings_dtypes = {'tconst': str, 'averageRating': float, 'numVotes': int}

def load_tsv(file_name,dtype, na_values=None):
    return pd.read_csv(file_name, sep='\t', compression='gzip', dtype=dtype, na_values=na_values)

ratings = load_tsv(file_name='title.ratings.tsv.gz', dtype=ratings_dtypes)

In [6]:
#Types que nous allons attribuer aux colonnes de basics
basics_dtypes = {'tconst': str, 'primaryTitle': str, 'originalTitle': str, 'isAdult': int, 'startYear': int, 'runtimeMinutes': int, 'genres': str, 'endYear': str}

In [16]:
basics_dtypes = {'tconst': str, 'primaryTitle': str, 'originalTitle': str, 'isAdult': str, 'startYear': str,'runtimeMinutes': str,'genres': str, 'endYear': str}

basics = pd.read_csv('title.basics.tsv.gz', sep='\t', compression='gzip', dtype=basics_dtypes, na_values='\\N')
basics['isAdult'] = pd.to_numeric(basics['isAdult'], errors='coerce').astype('Int64')
basics['startYear'] = pd.to_numeric(basics['startYear'], errors='coerce').astype('Int64')

In [8]:
#Types que nous allons attribuer aux colonnes de principals  
principals_dtypes = {'tconst': str, 'ordering': int, 'ordering': str, 'job': str, 'characters': str}

In [9]:
principals = load_tsv(file_name='title.principals.tsv.gz',dtype=principals_dtypes)

In [17]:
movies_df = basics[(basics['titleType'] == 'movie') & (basics['startYear'] >= 2010)] #On ne garde que les informations concernant les films
movies_principals = pd.merge(movies_df, principals, on='tconst') #On effectue une jointure avec la table contenant les informations sur le casting 
actors_df = movies_principals[movies_principals['category'].isin(['actor', 'actress'])] #On retient uniquement les informations sur les acteurs 
actor_movie_counts = actors_df.groupby('nconst').size().reset_index(name='movie_count') 
top_actors = actor_movie_counts.sort_values(by='movie_count', ascending=False).head(10)
print(top_actors)

           nconst  movie_count
413     nm0000616          242
366597  nm8673980          154
6395    nm0103977          152
208563  nm3248232          150
197055  nm2794335          132
221078  nm3708709          130
3760    nm0043199          128
138888  nm1428724          117
289304  nm5724719          110
310699  nm6489058          105

In [18]:
#On reprend que les films
movies_df = basics[basics['titleType'] == 'movie']

#Jointure
merged_movies = pd.merge(movies_df, ratings, on='tconst')

#Séparation des genres
merged_movies['genres'] = merged_movies['genres'].str.split(',')
exploded_movies = merged_movies.explode('genres')

top_movies_by_genre = exploded_movies.groupby('genres').apply(lambda x: x.nlargest(5, 'averageRating')).reset_index(drop=True)

/tmp/ipykernel_345/2501005994.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_movies_by_genre = exploded_movies.groupby('genres').apply(lambda x: x.nlargest(5, 'averageRating')).reset_index(drop=True)

In [19]:
for genre, group in top_movies_by_genre.groupby('genres'):
    print(f"Top 5 movies in genre: {genre}")
    print(group[['primaryTitle', 'averageRating']])
    print("\n")

Top 5 movies in genre: Action
                        primaryTitle  averageRating
0  Once Upon A Time in Philly Part 2           10.0
1                          NON ROWDY            9.9
2           The Document: On the Run            9.8
3                       Dominic Bane            9.8
4                        Lai Jhakaas            9.8


Top 5 movies in genre: Adult
                  primaryTitle  averageRating
5           Girls Loving Girls           10.0
6            The Squirt Locker            9.7
7  Cheater Cheater Pussy Eater            9.7
8             Nicole's Revenge            9.6
9                    Alyx Star            9.6


Top 5 movies in genre: Adventure
                primaryTitle  averageRating
10             Mr. Local Man           10.0
11                  Fortnite           10.0
12          Buried in Tucson            9.8
13                 Karsmênia            9.8
14  The Document: On the Run            9.8


Top 5 movies in genre: Animation
                           primaryTitle  averageRating
15         Chhota Bheem Aur Kaala Yodha           10.0
16            Krishna Balram - Kalvakra            9.3
17  Ramayana: The Legend of Prince Rama            9.2
18                  Krishna - The Birth            9.2
19     Il primo meraviglioso spettacolo            9.2


Top 5 movies in genre: Biography
                           primaryTitle  averageRating
20    Rutas del más allá: El documental           10.0
21                             Exemplar           10.0
22                 Angry Tears My Story           10.0
23  The Captain. Paulius Jankunas story            9.8
24                          Ottachodyam            9.8


Top 5 movies in genre: Comedy
                                         primaryTitle  averageRating
25  Prince Oak Oakleyski Most Handsome in the Worl...            9.9
26                            Ardhambardha Premakathe            9.9
27                                 Cheoeumen dageurae            9.9
28                                        Lai Jhakaas            9.8
29                                         Nochebuena            9.8


Top 5 movies in genre: Crime
       primaryTitle  averageRating
30           GUHAAR           10.0
31            Tyler            9.9
32     Dominic Bane            9.8
33         Shimanto            9.8
34  ICEMAN Book One            9.8


Top 5 movies in genre: Documentary
                                      primaryTitle  averageRating
35                                  The Last Enemy           10.0
36  Widow of the Revolution: The Anna Larina Story           10.0
37                               Petersburg's tram           10.0
38                                 New Territories           10.0
39               For the Children, by the Children           10.0


Top 5 movies in genre: Drama
           primaryTitle  averageRating
40             Kumpanya           10.0
41              Kaputol           10.0
42          The Oratory           10.0
43  Am Rande der Zeiten           10.0
44                Turvo           10.0


Top 5 movies in genre: Family
                      primaryTitle  averageRating
45                    Smile Hearts           10.0
46               Sampoorna Ramayan           10.0
47  Prince Oak Oakleyski Andronovo            9.9
48                           Kudru            9.9
49                    Amche Samsar            9.8


Top 5 movies in genre: Fantasy
                          primaryTitle  averageRating
50                   Sampoorna Ramayan           10.0
51  Cuento de Primavera: A Spring Tale            9.9
52   Siempre la duda: Always the doubt            9.9
53                    Journey of light            9.8
54                      RiffTrax: Cats            9.8


Top 5 movies in genre: Film-Noir
                         primaryTitle  averageRating
55                       Sunset Blvd.            8.4
56                   Double Indemnity            8.3
57  I Am a Fugitive from a Chain Gang            8.2
58                            Rebecca            8.1
59                      The Third Man            8.1


Top 5 movies in genre: Game-Show
     primaryTitle  averageRating
60  Vegas Vikings            8.6


Top 5 movies in genre: History
                                      primaryTitle  averageRating
61                               Petersburg's tram           10.0
62                                        Exemplar           10.0
63                               Efunsetan Aniwura           10.0
64                               A Thousand Voices           10.0
65  Six Locked Doors: The Legacy of Cocoanut Grove            9.9


Top 5 movies in genre: Horror
                                         primaryTitle  averageRating
66                                     Presa Nocturna            9.7
67  Kate Calloway's Second Annual Haunted Hallowee...            9.7
68                                            Wendigo            9.7
69                          Dua Alam: Villa Kaliurang            9.6
70                                    111 góðir dagar            9.6


Top 5 movies in genre: Music
                                         primaryTitle  averageRating
71  Love Live! Series 9th Anniversary LOVE LIVE! FEST           10.0
72                            Tell Me More About Evil           10.0
73  Ending is the Beginning: The Mitch Lucker Memo...            9.8
74  Validation: isolados por 7 dias para criar um ...            9.8
75                                      The Influence            9.8


Top 5 movies in genre: Musical
                       primaryTitle  averageRating
76                 This Is My Black           10.0
77  Kalrav (Sound of running water)            9.8
78                Vasanthi Nalidaga            9.7
79             A Voyage to Arcturus            9.6
80         Amma - sound of the soul            9.6


Top 5 movies in genre: Mystery
                          primaryTitle  averageRating
81                 A Wolf's Psychology           10.0
82                            Fortnite           10.0
83                          Samanantar            9.9
84                    Bird of Paradise            9.9
85  Cuento de Primavera: A Spring Tale            9.9


Top 5 movies in genre: News
                                         primaryTitle  averageRating
86         Prince Oak Oakleyski and News Interviewers           10.0
87  Prince Oak Oakleyski Most Handsome in the Worl...            9.9
88                                               Eros            9.8
89                Warology: Operations Other Than War            9.5
90                                 The Stones Cry Out            9.5


Top 5 movies in genre: Reality-TV
                                         primaryTitle  averageRating
91                  Rutas del más allá: El documental           10.0
92         Prince Oak Oakleyski and News Interviewers           10.0
93                              Prince Oak Oakley Ski            9.7
94                                     Call for Peace            9.6
95  SDMU-075: Art Models Wanted, Nude Modeling, Sh...            9.4


Top 5 movies in genre: Romance
                   primaryTitle  averageRating
96                     Kumpanya           10.0
97              A Maiden's Tale           10.0
98   Sa susunod na habang buhay           10.0
99      Ardhambardha Premakathe            9.9
100                 Lai Jhakaas            9.8


Top 5 movies in genre: Sci-Fi
                          primaryTitle  averageRating
101           Do observatório me viram           10.0
102               A Voyage to Arcturus            9.6
103                    The Evil Alfred            9.6
104                  Marijuana Minutes            9.5
105  Detroit - Become Human - Der Film            9.5


Top 5 movies in genre: Short
             primaryTitle  averageRating
106  I Was Robert Mitchum            5.0


Top 5 movies in genre: Sport
                primaryTitle  averageRating
107          Slaying Goliath           10.0
108          Go On, Be Brave            9.9
109                Magnum 87            9.8
110  Esteghlalish Blue Vol.1            9.8
111        The Blue Triangle            9.8


Top 5 movies in genre: Talk-Show
                                  primaryTitle  averageRating
112                          Charlas con valor            9.8
113  Oh no! The Rise of Skywalker was real bad            9.5
114                     Entertainment Tomorrow            8.7
115   Jake Moss Tries to Explain His Paintings            8.7
116                  The First Family of Satan            8.4


Top 5 movies in genre: Thriller
            primaryTitle  averageRating
117  A Wolf's Psychology           10.0
118              Nirvana           10.0
119      Burhan vs afspa            9.9
120           Samanantar            9.9
121     Bird of Paradise            9.9


Top 5 movies in genre: War
                             primaryTitle  averageRating
122  Battleship Texas: The Lone Star Ship            9.6
123                                Dealin            9.6
124                      To the Zero Line            9.6
125                         Wheels of War            9.6
126                 Ratne price sa Kosara            9.5


Top 5 movies in genre: Western
                       primaryTitle  averageRating
127               The Stolen Valley            9.2
128                Rites of Passage            9.0
129                       Río Hondo            8.9
130            The Contested Plains            8.9
131  The Good, the Bad and the Ugly            8.8